h2, h3 {
    color: #1a73e8;
}

.producto, .agregar-propio {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}
 
button {
    background-color: #1a73e8;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor : pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1558b0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.baver {
    color: rgb(red, rgb(255, 65, 80), red);
    background-color: rgb(255, 148, 157);
    animation: alternate-reverse;
    text-decoration-color: red;
    color-interpolation-filters: initial;
    print-color-adjust: red;
    animation-delay: inherit;
    align-items: flex-end;
    text-decoration:brown;
}